@import '_variables.css';
@import '_global.css';
@import '_tab-bar.css';
@import '_navigation-bar.css';
@import '_bookmarks-bar.css';
@import '_find-bar.css';
@import '_side-bar.css';
@import '_menu.css';

#TabsToolbar {
	visibility: collapse !important;
}

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*
https://github.com/Arty2/userstyles
@version      0.2.6

1. Find your profile folder `about:support > Profile Folder > Open Folder` or locate the exact profile in use by visiting `about:profiles`.
2. Create a folder named `chrome` then create a file named userChrome.css inside it and paste the following code.
3. If userChrome.css doesn’t seem to work, open `about:config` and set `toolkit.legacyUserProfileCustomizations.stylesheets=true`.
4. Restart Firefox.

Other references:
Firefox Support forum - Tabs below the URL bar: https://support.mozilla.org/en-US/kb/forum-response-tabs-below-url-bar
Custom CSS tweaks for Firefox Quantum: https://github.com/Aris-t2/CustomCSSforFx
*/

/*----------------------------------------------------------
Tabs to Bottom
source: https://github.com/Arty2/userstyles/blob/master/tabs_to_bottom.userchrome.css

UI model:
	#navigator-toolbox
		#titlebar
			#toolbar-menubar
			#TabsToolbar
		#nav-bar
		#PersonalToolbar
	#browser
*/

/* bring the browser window to the top */
#browser {
	-moz-box-ordinal-group: 0 !important;
	order: 0 !important;
}

#navigator-toolbox,
/* after version 119 */
#navigator-toolbox-background {
	/* before version 119 */
	-moz-box-ordinal-group: 1 !important;
	order: 1 !important;
}

/* adjust paddings */
*|*:root[sizemode="normal"] #browser {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* hide tab toolbar when fullscreen */
#nav-bar[inFullscreen],
#TabsToolbar[inFullscreen] {
	display: none;
}

/* restore top border */
*|*:root[sizemode="normal"] #browser {
	border-top: .5px solid AccentColor !important;
}

*|*:root[sizemode="normal"]:-moz-window-inactive #browser {
	border-top-color: rgb(57, 57, 57) !important;
}

/* make toolbar border persist on fullscreen */
*|*:root[sizemode="maximized"] #navigator-toolbox {
  border-top: .5px solid AccentColor !important;
  border-bottom: .5px solid AccentColor !important;
}


/*Hide navigation bars except on hover*/
/* #navigator-toolbox[inFullscreen] {
	position: relative;
	height: 2px;
	transition: 0s linear all;
	overflow: hidden;
	opacity: 1;
	margin-bottom: 1px;
	background: #999;
	z-index: 1;
}

#navigator-toolbox[inFullscreen]:hover {
	height: 72px;
	margin-bottom: -64px;
	opacity: 1;
}

#content-deck[inFullscreen] {
	position: relative;
	z-index: 0;
}

#titlebar-buttonbox[inFullscreen] {
	opacity: 0;
	height: 4px;
	overflow: hidden;
	transition: .2s linear all;
}

#titlebar-buttonbox[inFullscreen]:hover {
	opacity: 1;
	height: auto;
}

#nav-bar {
	overflow-y: hidden !important;
	margin-bottom: -2.70em;
	min-height: 0 !important;
	max-height: 0 !important;
	opacity: 0;
	transition: opacity 0.2s, max-height 0.2s;
}

#nav-bar:hover>#nav-bar {
	max-height: 2.70em !important;
	opacity: 1;
	transition: opacity 0.2s;
}
 */
/* hide titlebar buttons */
#TabsToolbar>.titlebar-buttonbox-container {
	display: none !important;
}

/*fix pop-ups opening below window*/
#urlbar[open] {
	display: flex !important;
	flex-direction: column-reverse;
	/* use 'column' if you want to type the URL in center*/
	bottom: -2px !important;
	top: auto !important;
}

.urlbarView-body-inner {
	border-top: none !important;
}
/* Hide sidebar top-menu */
#sidebar-header {
  display: none;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/show_navbar_on_focus_only.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hides #nav-bar and overlays it on top of tabs when urlbar is focused  */
/* overlay_menubar.css can be used for better handling of menubar when triggered with Alt-key */
/* This style totally breaks bookmarks toolbar but can be used with autohide_bookmarks_toolbar.css */
